.header {
  margin: 0;
  padding: 13px 20px;
  background-image: url(../../assets/images/banner.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: 999;
    width: 100%;
  }

  &__navlink {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  &__navlink > img {
    width: 170px;
  }
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
    text-align: center;
  }
  &__title {
    font-size: 80px;
    line-height: 90px;
  }
  &__desc {
    line-height: 60px;
    font-size: 30px;
  }
  &__btn-box {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__input {
    background-color: #fff;
    padding: 20px;
    border: none;
    outline: none;
    width: 450px;
  }
  &__btn {
    padding: 17px;
    background-color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 20px;
  }

  @media screen and (max-width: 769px) {
    &__title {
      font-size: 50px;
      line-height: 50px;
    }
    &__desc {
      line-height: 40px;
    }
  }
  @media screen and (max-width: 426px) {
    &__main {
      padding-top: 20%;
    }

    &__title {
      font-size: 30px;
      line-height: 29px;
    }
    &__desc {
      font-size: 14px;
    }

    &__input {
      width: 100%;
    }
    &__btn {
      margin-top: 20px;
      width: 80%;
    }
  }
  @media screen and (max-width: 376px) {
    &__main {
      padding-top: 20%;
    }

    &__title {
      font-size: 30px;
      line-height: 29px;
    }
    &__desc {
      font-size: 14px;
    }

    &__input {
      width: 100%;
    }
    &__btn {
      margin-top: 20px;
      width: 80%;
    }
    &__navlink > img {
      width: 120px;
    }
  }
}

.dialog {
  top: 10%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 00.88);
  width: 30%;
  height: 80%;
}
.modal-title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
.inputBox {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.inputBox__inputs {
  padding: 18px 18px;
  margin-top: 30px;
  background-color: rgba(56, 56, 56, 0.9);
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
}
.inputBox__inputs::placeholder {
  text-transform: capitalize;
  font-size: 15px;
}

.inputBox__button {
  margin-top: 30px;
  background-color: rgb(255, 0, 0);
  font-size: 22px;
  font-weight: 500;
  padding: 15px 20px;
}
.checkbox {
  display: flex;
  padding-top: 20px;
}
.checkbox_check {
  height: 28px;
  width: 28px;
}
.checkbox_check::-ms-check {
  background-color: #fff;
}
.checkbox_desc {
  color: #fff;
  font-size: 14px;
  margin-left: 14px;
}

@media screen and (max-width: 1025px) {
  .dialog {
    width: 50%;
    top: 14%;
    height: 85%;
  }
}
@media screen and (max-width: 426px) {
  .dialog {
    width: 75%;
  }
}
@media screen and (max-width: 426px) {
  .dialog {
    width: 80%;
  }
}
