.headermain {
  background-image: url(../../assets/images/banner.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8%;
    text-align: center;
  }
  &__title {
    font-size: 80px;
    line-height: 90px;
  }
  &__desc {
    line-height: 60px;
    font-size: 30px;
  }
  &__btn-box {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__input {
    background-color: #fff;
    padding: 20px;
    border: none;
    outline: none;
    width: 450px;
  }
  &__btn {
    padding: 17px;
    background-color: rgb(255, 0, 0);
    font-weight: 500;
    font-size: 20px;
  }



  @media screen and (max-width: 769px) {
    &__title {
      font-size: 50px;
      line-height: 50px;
    }
    &__desc {
      line-height: 40px;
    }
  }
  @media screen and (max-width: 426px) {
    &__main {
      padding-top: 20%;
    }

    &__title {
      font-size: 30px;
      line-height: 29px;
    }
    &__desc {
      font-size: 14px;
    }

    &__input {
      width: 100%;
    }
    &__btn {
      margin-top: 20px;
      width: 80%;
    }
  }
  @media screen and (max-width: 376px) {
    &__main {
      padding-top: 20%;
    }

    &__title {
      font-size: 30px;
      line-height: 29px;
    }
    &__desc {
      font-size: 14px;
    }

    &__input {
      width: 100%;
    }
    &__btn {
      margin-top: 20px;
      width: 80%;
    }
    &__navlink > img {
      width: 120px;
    }
  }
}
